[submodule "_vim/bundle/syntastic"]
	path = _vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "_vim/bundle/vim-ansible-yaml"]
	path = _vim/bundle/vim-ansible-yaml
	url = https://github.com/chase/vim-ansible-yaml.git
