[submodule "_vim/bundle/syntastic"]
	path = _vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "_vim/bundle/vim-ansible-yaml"]
	path = _vim/bundle/vim-ansible-yaml
	url = https://github.com/chase/vim-ansible-yaml.git
[submodule "_vim/bundle/vim-flavored-markdown"]
	path = _vim/bundle/vim-flavored-markdown
	url = git@github.com:jtratner/vim-flavored-markdown.git
[submodule "_vim/bundle/vim-rubocop"]
	path = _vim/bundle/vim-rubocop
	url = https://github.com/ngmy/vim-rubocop.git
